body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: rgb(41, 41, 41);
	min-width: 450px;
}

h1 {
    font-size: 1.75em;
    color:rgb(192, 192, 223)
}

h2 {
    text-align: center;
    font-size: 2em; 
    color:rgb(192, 192, 223)
}

td {
    width: 50%;
}

input {
	margin-bottom: 5px;
}

a:visited{ 
	color: blue; 
}

.editor {
    max-width: 100%;
    height: 99vh;
    bottom: 5px;
    background: rgba(22, 22, 22, 0.308);

    display: grid;
    grid-template-columns: 50px 70fr 20fr;
    grid-template-rows: 40px 60fr 30fr;
    grid-gap: 5px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;

  }

    .header {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .sidebar {
        grid-column: 1;
        grid-row: 2 / span 3;
    }

    .stagingArea {
        grid-column: 2;
        grid-row: 2;
    }

    .inspector {
        grid-column: 3;
        grid-row: 2 / span 3;
    }

    .console {
        grid-column: 2;
        grid-row: 3;
    }


.contentGrid {
    min-width: 100%;
    min-height: 100%;
    /* bottom: 5px;
    right: 5px; */
    /* padding-bottom: 20px; */
    /* background: rgb(22, 22, 22); */

    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 25fr 25fr 25fr 25fr;
    grid-gap: 5px;
  }

    .cueElementEmpty {
        border-radius: 25px;
        border: 2px dashed #999999;
        background: #1f1f1f57;
        /* margin: 5px; */
        padding: 20px;
        min-width: 200px;
        /* width: 200px;

        height: 150px; */
    }

    .cueElementReady {
        border-radius: 25px;
        border: 2px solid #424242;
        /* margin: 5px; */
        background: #555555;
        padding: 20px;
        min-width: 200px;
        /* width: 200px;
        height: 150px; */
    }

.imageCue {
    width: 100fr;
    height: 100fr;
    object-fit: scale-down;

}

.videoCue {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.display {
    width: 100%;
    /* max-height: 200px;
    min-height: 100px; */
    bottom: 5px;
    right: 5px;
    padding-bottom: 20px;
    background-color: rgba(204, 204, 204, 0.5);
}

.control {
    width: 100%;
    /* max-height: 200px;
    min-height: 100px; */
    bottom: 5px;
    right: 5px;
    padding-bottom: 20px;
    background-color: rgba(204, 204, 204, 0.5);
}

.control-button {
    width: 100%;
    min-height: 50px;
}

.display-box {
    border: 2px solid rgb(105, 123, 172);
}

.title {
    vertical-align: top;
}

.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}

.status {
    height: 75px;
    vertical-align: text-top;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(105, 123, 172);
    
}

.message {
    height: 125px;
    max-height: 125px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(105, 123, 172);
    overflow: auto;
}

.msg-time {
    color: rgb(192, 192, 223);
}

.cueMsg {
    color: orange;
}

.selfMsg {
    color: green;
}

.peerMsg {
    color: red;
}

/* button {
    margin: 5px;
    line-height: 20px;
    font-weight: bold;
    padding: 10px;
    background: rgb(21, 255, 165);
    border: none;
  } */
  
  button:hover {
    background: lightsalmon;
  }
  
  .playerContent {
    width: 100%;
    min-height: 500px;
    bottom: 5px;
    right: 5px;
    padding-bottom: 20px;
    background: rgb(22, 22, 22);
  }
  

  
  .overlay-container {
    position: relative;
    display: inline;
  }
  
  .overlay-image{
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-width: 8%;
    max-height: 8%;
  }